@model List<rep.Models.DbModels.Material>
<main>
    <h2 style="margin-left:20px">Учебные материалы</h2>
    @foreach (var mater in Model)
    {
        <div class="material-card">
            <p>@mater.MaterialTitle</p>
            <p>@mater.MaterialType</p>
        </div>
    }
    @using (Html.BeginForm("AddMaterials", "Home", FormMethod.Post))
    {
        <h1>Добавить Материал</h1>
        <div>
            <label for="text">Название материала:</label>
            @Html.TextBox("Title", null, new { @style = "height: 10px", @class = "form-control", required = "required" })
        </div>

        <div>
            <label for="text">Описание:</label>
            @Html.TextBox("description", null, new { @style = "height: 10px", @class = "form-control", required = "required" })
        </div>

        <div>
            <label for="role">Тип материала:</label>
            @Html.DropDownList("type", new SelectList(new[] {
        new SelectListItem { Text = "Презентация", Value = "Презентация"},
        new SelectListItem { Text = "Текстовый документ", Value = "Текстовый документ"},
        new SelectListItem { Text = "Видео",Value = "Видео"},
        }, "Value", "Text"), "Выберите тип материала", new { @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="role">Тип курса:</label>
            @Html.DropDownList("courseType", new SelectList(new[] {
        new SelectListItem { Text = "Физика",Value = "1"},
        new SelectListItem { Text = "Испанский", Value = "2"},
        new SelectListItem { Text = "Математика", Value = "3"},
        new SelectListItem { Text = "Литература", Value = "4"},
        new SelectListItem { Text = "Веб-Разработка", Value = "5"},

        }, "Value", "Text"), "Выберите тип курса", new { @class = "form-control", required = "required" })
        </div>

        <button class="btn btn-primary" type="submit">Добавить</button>
    }
</main>